/* -- Overall layout -- */

:root {
    --black: #344344;
    --blue: #3091a2;
    --transparentblue: rgba(48,145,162,.6);
    --gray: #8b9ea5;
    --pink: #eb8bb1;
    --transparentPink: rgba(235,139,177,.2);
    --transparentDarkPink: rgba(235,139,177,.6);
    --white: #ffffff;
    --transparent: rgba(255,255,255,0);
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    background-image: url("../images/watercolor.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    color: var(--black);
}
html, button, input, textarea {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: .3em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}
p {
    margin: 0;
}
p+p {
    margin-top: 1rem;
}
a {
    color: var(--blue);
    padding: 0 2px;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    background: var(--transparentPink);
}
body {
    margin: 100px 0 0 0;
    overflow-x: hidden;
    position: relative;
}
header > nav, main, footer {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: 680px;
}
blockquote {
    border-left: 2px solid var(--pink);
    font-style: italic;
    line-height: 1.7;
    margin: 1.5rem 2.5rem;
    padding-left: 1rem;
}
mark {
    background: var(--transparentblue);
    color: var(--white);
    padding: 0 2px;
}
strong {
    text-decoration: underline;
}
/* -- Header -- */

header {
    box-shadow: 0 0 0 0 var(--transparent);
    position: absolute;
    top: -100px;
    left: 0;
    transition: .5s; /* fades out */
    width: 100%;
}
header.expanded {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.7), rgba(255,255,255,1));
    box-shadow: 0 0 11px 0 var(--transparentDarkPink);
    transition: 2s; /* fades in */
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav.Main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav.Main h1 {
    color: var(--black);
    display: flex;
    align-items: center;
    font-size: 28px;
    margin: 0;
}
nav.Main nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%;
    max-height: 0;
    opacity: 0;
    padding: 0 32px;
    pointer-events: none;
    transform: translateY(-300px);
    transition: opacity .5s, max-height 2s, transform 1s; /* fades out */
    width: calc(100% - 32px);
}
header.expanded nav.Main nav {
    max-height: 400px;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: opacity 1s, max-height 2s, transform .7s; /* fades in */
}
nav.Main nav a {
    font-size: 1.2rem;
    margin: 0 16px;
}
.Headshot {
    border-radius: 50px;
    margin-right: 6px;
    max-width: 100px;
}
nav.Main a {
    background: var(--transparent);
    color: var(--black);
    display: inline-block;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    transition: .3s;
}
nav.Main a.Active {
    font-weight: 900;
    pointer-events: none;
}
nav.Main a:hover {
    background: var(--transparentPink);
}
/* nav.Main a:after {
    background: var(--black);
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    width: 0;
}
nav.Main a:hover:after {
    width: 100%;
} */
button.Menu {
    background: none;
    border: none;
    color: var(--transparent);
    font-size: 1px;
    line-height: 0;
    height: 38px;
    padding: 0;
}
button.Menu.expanded span.Top {
    transform: rotate(45deg) translate(5px,6px);
}
button.Menu.expanded span.Middle {
    background: rgba(255,255,255,0);
}
button.Menu.expanded span.Bottom {
    transform: rotate(-45deg) translate(5px,-6px);
}
button.Menu span {
    background: var(--black);
    border-radius: 5px;
    display: block;
    height: 4px;
    margin: 4px;
    transition: .7s;
    width: 30px;
}

/* -- Footer -- */
footer nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
footer nav a {
    background: var(--transparentDarkPink);
    border-radius: 50%;
    color: rgba(255,255,255,0);
    display: inline-block;
    font-size: 1px;
    height: 36px;
    margin: 0 6px;
    padding: 0;
    position: relative;
    transition: .3s;
    width: 36px;
}
footer nav a:hover {
    background: var(--transparentblue);
}
footer nav a:after {
    background: url("../images/icons/github.svg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    content: '';
    display: inline-block;
    height: 24px;
    margin: 0;
    width: 24px;
    position: absolute;
    top: 6px;
    left: 6px;
}
footer nav a.Email:after {
    background: url("../images/icons/envelope.svg");
}
footer nav a.LinkedIn:after {
    background: url("../images/icons/linkedin.svg");
}
footer nav a.Twitter:after {
    background: url("../images/icons/twitter.svg");
}
footer nav a.Instagram:after {
    background: url("../images/icons/instagram.svg");
}

/* -- Content -- */


main > section:first-of-type, main > article:first-of-type {
    margin-top: 3rem;
}
article h1:first-child, 
article .Details {
    margin-bottom: .7em;
}
article p {
    text-indent: 1.5rem;
}
.Container {
    margin: 0 -16px;
}
.Link {
    display: block;
    padding: 2rem 1rem;
}
.Details {
    color: var(--gray);
    display: block;
    font-size: .8rem;
}
.Description {
    color: var(--black);
    margin-top: 1rem;
}